html, body {
  background-color: #F2F6FA;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.banner {
  padding: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner .title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  margin: 0;
}

.banner .subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
  margin: 0;
}

.time-of-day {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1.5rem;
}

.content {
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}

.section-header {
  flex: 0;
  padding: 20px;
  border-bottom: 1px solid black;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section-header .title {
  font-size: 1.2rem;
  font-weight: 600;
}

.section-header .subtitle {
  font-size: 1.2rem;
  font-weight: 400;
}

/* Inventory */

.seeds {
  flex: 1 0 50%;
  margin-right: 20px;

  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(5, auto);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.seed-option {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.seed-option .seed-image {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 40px;
  cursor: pointer;
}

.seed-option .seed-count {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 25px;
  width: 25px;
  font-size: 0.8rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seed-option:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* Garden */

.garden {
  border: 1px dashed black;
  flex: 0 0 400px;
  height: 400px;
  
  display: grid;
  grid-template-columns: repeat(9, auto);
  grid-template-rows: repeat(9, auto);

  user-select: none;
}

.plot {
  position: relative;
  border: 0.5px solid rgba(0,0,0,0.1);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plot-active {
  cursor: pointer;
}

.plot-background {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  opacity: 0.25;
}

.plot-seed {
  position: absolute;
  height: 30px;
  pointer-events: none;
  user-select: none;
}

/* Shop */

.shop {
  flex: 1 0 50%;
  margin-right: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: 20px;
}

.shop-option {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  user-select: none;
}

.shop-option-disabled {
  opacity: 0.2;
  cursor: default;
}

.shop-option:not(.shop-option-disabled):hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.shop-image {
  margin-right: 20px;
}

.shop-details {
  flex: 1;
}

.shop-name {
  font-size: 1.0rem;
}

.shop-description {
  margin-top: 5px;
  font-size: 0.8rem;
  opacity: 0.5;
}

.shop-cost {
  justify-self: flex-end;
}

/* Research */

.research {
  flex: 0 0 400px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: 20px;
}